body{
  margin: 0px;
  background-color:whitesmoke;
}
/* -----------Fondo de la cabecera------------ */
header{
  background-image: linear-gradient(135deg, rgb(102, 126, 234,0.7) 0%, rgba(167, 79, 255, 0.7) 100%),url(/img/port.jpg);
  background-position: center;
  background: cover;
  padding: 10px 0px;
  width: 100%;
}
/* -----------Contenido principal----------- */
header .inicio{
  text-align: center;
}
/*---------- Foto de perfil-------- */
header .inicio img{
  width: 300px;
  height: 300px;
  border-radius: 200px;
  margin: 10px 0px;
}
/* ----------Nombre-------------- */
header .inicio .nombre{
  font-family: 'Bebas Neue', cursive;
  font-size: 70px;
  margin: -2px;
}
/* ---------Datos (telefono, direccion, email, edad)--------- */
header .datos p{
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  margin: 5px 15px;
  padding-right: 10px;
  border-right: 3px white solid;
  font-size: 20px;
}
/* ---------Color de los iconos de los datos------------ */
.datos i{
  color: rgb(230, 227, 227);
}

/* ---------------Subtitulos---------------- */
h2{
  font-family: 'Bebas Neue', cursive;
  font-size: 35px;
  margin: 10px 15px;
}


hr{
  width: 100%;
  height: 6px;
  background-color: rgba(167, 79, 255);
  margin-top: -2px;
  border: none;
}

p,li{
  font-family: 'Raleway', sans-serif;
  margin: 4px 60px;
  font-size: 23px;
  font-weight:580;
}



.idiomas p  img{
  width: 25px;
}

.lugar{
  color: rgb(153, 52, 255);
  font-weight: 600;
}


.perfil hr{
  background-color: white;
}
@media (max-width:768px) {
  header .inicio img{
    width: 150px;
    height: 150px;
  }
  header .inicio .nombre{
    font-size: 35px;
  }
  header .datos p{
    border:none;
    font-size: 15px;
  }

  h2{
    font-size: 30px;
  }
  p,li{
    font-size: 15px;
    margin: 4px 20px;
  }

  .lugar{
    margin-top: 6%;
  }
}